@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('../public/fonts/retrosans.otf');
}

*{
    font-family: 'establishRetrosansOTF', 'default';

}
body{
    height: 100%;
    width: 100%;
    margin: auto;
    background: linear-gradient(to right, #fff, #fff,  #B7B7B7);
    .article{
        display: grid;
        margin: auto;
        .pageLink{
            height: 7vh;
            .togSwitch1, .togSwitch2 {
                z-index: 10;
                transition: all 0.2s ease-in;
                width: 11vh;
                margin: auto;
                margin-top: 0.5vh;
                height: 70%;
                position: relative;
                border-radius: 30px;
                .togButton{
                    text-align: center;
                    font-size: 2.5vh;
                    line-height: 3.5vh;
                    transition: all 0.5s ease-in;
                    height: 75%;
                    aspect-ratio: 1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
              }
              .togSwitch2{
                  background-color: #a7a7a7;
                  .togButton{
                    left: 7%;
                    background-color: #fff;
                    color: #a7a7a7;
                }
              }
              .togSwitch1{
                background-color: #e0d9d9;
                .togButton{
                    left: 60%;
                    background-color: #a7a7a7;
                    color: #fff;
                }
              }
              
        }
        .inputCurrent{
            height: 21vh;
            position: relative;
                img{
                    position: absolute;
                    align-items: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 30vh;
            }
            .textBox{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                height: 100%;
                aspect-ratio: 1;
                line-height: 20vh;
                .text{
                    height: 100%;
                    text-align: center;
                    font-size: 6vh;
                    img{
                        width: 40%;
                        height: 40%;
                    }
                }
            }
        }
        .inputStatus{
            height: 8vh;
            width: 40vh;
            margin: auto;
            display: grid;
            align-items: center;
            .textBox{
                margin: auto;
                height: 50%;
                width: 100%;
                background: linear-gradient(to right, #fff, #B7B7B7);
                box-shadow: 1px 3px 3px 1px #B7B7B7;
                .text{
                    white-space: nowrap; 
                    overflow: hidden;  
                    text-overflow: ellipsis;
                    font-size: 3vh;
                    text-align: center;
                }
            }
        }
        .inputPad{
            height: 40vh;
            position: relative;
            .padBackground{
                border-radius: 5%;
                height: 100%;
                aspect-ratio: 1;
                display: grid;
                align-items: center;
                background-color: red;
                margin: auto;
                background-color: #fff;
                .padBox{
                    margin: auto;
                    background-color: #fff;
                    height: 35vh;
                    aspect-ratio: 1;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                .clickBox{
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    display: grid;
                    font-size: 3vh;
                    div{
                        color: #9b9b9b;
                        text-align: center;
                        display: grid;
                        align-items: center;
                    }
                }

            }
        }
        .inputRecord{
            margin: auto;
            width: 100%;
            height: 24vh;
            align-items: center;
            display: grid;
            position: relative;
            .recordList{
                border-radius: 5%;
                background-color: #fff;
                margin: auto;
                height: 80%;
                width: 40vh;
                .recordBox{
                    display: grid;
                    height: 90%;
                    width: 90%;
                    grid-template-rows: repeat(3,33.3%);
                    align-items: center;
                    margin: auto;
                    .record{
                        border-bottom: 2px solid #B7B7B7;
                        font-size: 3vh;
                        text-align: center;
                    }

                }
            }
            .clearButton{
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, 0);
                height: 2vh;
                aspect-ratio: 1;
                background-color: #a7a7a7;
                color: white;
                text-align: center;
                border-radius: 10%;
                width: 8vh;
                display: grid;
                align-items: center;
                font-size: 2vh;
            }
        }
    }
}